# nginx_role/templates/nginx.conf.j2

user www-data;
worker_processes auto;
pid /run/nginx.pid;

events {
    worker_connections 768;
}

http {
    include /etc/nginx/mime.types;
    default_type application/octet-stream;

    access_log /var/log/nginx/access.log;
    error_log /var/log/nginx/error.log;

    server {
        listen {{ nginx_port }};
        server_name {{ nginx_server_name }};

        location / {
            root /var/www/html;
            index index.html;
        }
    }
}
